@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap");

body {
  background-color: beige;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  font-family: Abril Fatface;

}
h1 {
  text-align: center;
  color: brown;
}

div {
  flex-direction: column;
  text-align: center;
}

select {
  text-align: center;
  width: 250px;
}

#map {    
    background-color: lightpink;
  margin: 10px;
  height: 80vh;
  width: 90vw;
  border: 10px black;
}
