body {
    background-color: aquamarine;
    color: black;
    
}

main{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
h1{
    color: red
}

#map{
    height: 80vh;
    width: 80vw;
    border: 2px black;
}